html { font-family: sans-serif; text-size-adjust: 100%; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0px; }
[hidden], template { display: none; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px; }
abbr[title] { border-bottom: none; text-decoration: underline dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0px; }
mark { background: rgb(255, 255, 0); color: rgb(0, 0, 0); }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0px; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0px; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid rgb(192, 192, 192); margin: 0px 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0px; padding: 0px; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: "Glyphicons Halflings"; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased; }
.glyphicon-chevron-left::before { content: ""; }
.glyphicon-chevron-right::before { content: ""; }
* { box-sizing: border-box; }
::before, ::after { box-sizing: border-box; }
html { font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:hover, a:focus { color: #2985e0; text-decoration: underline; }
a:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }
figure { margin: 0px; }
img { vertical-align: middle; }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; }
hr { margin-top: 20px; margin-bottom: 20px; border-width: 1px 0px 0px; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image: initial; border-top-style: solid; border-top-color: rgb(238, 238, 238); }
[role="button"] { cursor: pointer; }
p { margin: 0px 0px 10px; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0px; }
dl { margin-top: 0px; margin-bottom: 20px; }
dt, dd { line-height: 1.42857; }
dt { font-weight: 700; }
dd { margin-left: 0px; }
abbr[title], abbr[data-original-title] { cursor: help; }
blockquote { padding: 10px 20px; margin: 0px 0px 20px; font-size: 17.5px; border-left: 5px solid rgb(238, 238, 238); }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom: 0px; }
.blockquote-reverse, blockquote.pull-right { padding-right: 15px; padding-left: 0px; text-align: right; border-right: 5px solid rgb(238, 238, 238); border-left: 0px; }
.blockquote-reverse footer::before, blockquote.pull-right footer::before, .blockquote-reverse small::before, blockquote.pull-right small::before, .blockquote-reverse .small::before, blockquote.pull-right .small::before { content: ""; }
.blockquote-reverse footer::after, blockquote.pull-right footer::after, .blockquote-reverse small::after, blockquote.pull-right small::after, .blockquote-reverse .small::after, blockquote.pull-right .small::after { content: " —"; }
address { margin-bottom: 20px; font-style: normal; line-height: 1.42857; }
code, kbd, pre, samp { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
code { padding: 2px 4px; font-size: 90%; color: rgb(199, 37, 78); background-color: rgb(249, 242, 244); border-radius: 4px; }
kbd { padding: 2px 4px; font-size: 90%; color: rgb(255, 255, 255); background-color: rgb(51, 51, 51); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px inset; }
kbd kbd { padding: 0px; font-size: 100%; font-weight: 700; box-shadow: none; }
pre { display: block; padding: 9.5px; margin: 0px 0px 10px; font-size: 13px; line-height: 1.42857; color: rgb(51, 51, 51); word-break: break-all; overflow-wrap: break-word; background-color: rgb(245, 245, 245); border: 1px solid rgb(204, 204, 204); border-radius: 4px; }
pre code { padding: 0px; font-size: inherit; color: inherit; white-space: pre-wrap; background-color: transparent; border-radius: 0px; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
table { background-color: transparent; }
table col[class*="col-"] { position: static; display: table-column; float: none; }
table td[class*="col-"], table th[class*="col-"] { position: static; display: table-cell; float: none; }
caption { padding-top: 8px; padding-bottom: 8px; color: rgb(119, 119, 119); text-align: left; }
th { text-align: left; }
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th { background-color: rgb(245, 245, 245); }
.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th { background-color: rgb(232, 232, 232); }
fieldset { min-width: 0px; padding: 0px; margin: 0px; border: 0px; }
legend { display: block; width: 100%; padding: 0px; margin-bottom: 20px; font-size: 21px; line-height: inherit; color: rgb(51, 51, 51); border-width: 0px 0px 1px; border-top-style: initial; border-right-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-left-color: initial; border-image: initial; border-bottom-style: solid; border-bottom-color: rgb(229, 229, 229); }
label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: 700; }
input[type="search"] { box-sizing: border-box; -webkit-appearance: none; }
input[type="radio"], input[type="checkbox"] { margin: 4px 0px 0px; line-height: normal; }
input[type="file"] { display: block; }
input[type="range"] { display: block; width: 100%; }
select[multiple], select[size] { height: auto; }
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }
output { display: block; padding-top: 7px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }
.btn:active, .btn.active { background-image: none; outline: 0px; box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset; }
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { color: rgb(51, 51, 51); background-color: rgb(230, 230, 230); background-image: none; border-color: rgb(173, 173, 173); }
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus { color: rgb(51, 51, 51); background-color: rgb(212, 212, 212); border-color: rgb(140, 140, 140); }
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); background-image: none; border-color: rgb(32, 77, 116); }
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus { color: rgb(255, 255, 255); background-color: rgb(32, 77, 116); border-color: rgb(18, 43, 64); }
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); background-image: none; border-color: rgb(57, 132, 57); }
.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus { color: rgb(255, 255, 255); background-color: rgb(57, 132, 57); border-color: rgb(37, 86, 37); }
.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info { color: rgb(255, 255, 255); background-color: rgb(49, 176, 213); background-image: none; border-color: rgb(38, 154, 188); }
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus { color: rgb(255, 255, 255); background-color: rgb(38, 154, 188); border-color: rgb(27, 109, 133); }
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning { color: rgb(255, 255, 255); background-color: rgb(236, 151, 31); background-image: none; border-color: rgb(213, 133, 18); }
.btn-warning:active:hover, .btn-warning.active:hover, .open > .dropdown-toggle.btn-warning:hover, .btn-warning:active:focus, .btn-warning.active:focus, .open > .dropdown-toggle.btn-warning:focus, .btn-warning:active.focus, .btn-warning.active.focus, .open > .dropdown-toggle.btn-warning.focus { color: rgb(255, 255, 255); background-color: rgb(213, 133, 18); border-color: rgb(152, 95, 13); }
.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger { color: rgb(255, 255, 255); background-color: rgb(201, 48, 44); background-image: none; border-color: rgb(172, 41, 37); }
.btn-danger:active:hover, .btn-danger.active:hover, .open > .dropdown-toggle.btn-danger:hover, .btn-danger:active:focus, .btn-danger.active:focus, .open > .dropdown-toggle.btn-danger:focus, .btn-danger:active.focus, .btn-danger.active.focus, .open > .dropdown-toggle.btn-danger.focus { color: rgb(255, 255, 255); background-color: rgb(172, 41, 37); border-color: rgb(118, 28, 25); }
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link { background-color: transparent; box-shadow: none; }
.dropdown-menu.pull-right { right: 0px; left: auto; }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(51, 122, 183); outline: 0px; }
.pull-right > .dropdown-menu { right: 0px; left: auto; }
.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active { z-index: 2; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color: rgb(85, 85, 85); cursor: default; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent; border-image: initial; }
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus { border: 1px solid rgb(221, 221, 221); }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { color: rgb(255, 255, 255); background-color: rgb(51, 122, 183); }
.nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus { border: 1px solid rgb(221, 221, 221); }
.tab-content > .active { display: block; }
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: rgb(85, 85, 85); background-color: rgb(231, 231, 231); }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus { color: rgb(255, 255, 255); background-color: rgb(8, 8, 8); }
.breadcrumb > .active { color: rgb(119, 119, 119); }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { z-index: 3; color: rgb(255, 255, 255); cursor: default; background-color: rgb(51, 122, 183); border-color: rgb(51, 122, 183); }
.list-group-item.active > .badge, .nav-pills > .active > a > .badge { color: rgb(51, 122, 183); background-color: rgb(255, 255, 255); }
.container .jumbotron, .container-fluid .jumbotron { padding-right: 15px; padding-left: 15px; border-radius: 6px; }
.jumbotron .container { max-width: 100%; }
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active { border-color: rgb(51, 122, 183); }
.progress.active .progress-bar, .progress-bar.active { animation: 2s linear 0s infinite normal none running progress-bar-stripes; }
.media-right, .media > .pull-right { padding-left: 10px; }
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus { z-index: 2; color: rgb(255, 255, 255); background-color: rgb(51, 122, 183); border-color: rgb(51, 122, 183); }
.list-group-item.active .list-group-item-heading, .list-group-item.active:hover .list-group-item-heading, .list-group-item.active:focus .list-group-item-heading, .list-group-item.active .list-group-item-heading > small, .list-group-item.active:hover .list-group-item-heading > small, .list-group-item.active:focus .list-group-item-heading > small, .list-group-item.active .list-group-item-heading > .small, .list-group-item.active:hover .list-group-item-heading > .small, .list-group-item.active:focus .list-group-item-heading > .small { color: inherit; }
.list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-text { color: rgb(199, 221, 239); }
a.list-group-item-success.active, button.list-group-item-success.active, a.list-group-item-success.active:hover, button.list-group-item-success.active:hover, a.list-group-item-success.active:focus, button.list-group-item-success.active:focus { color: rgb(255, 255, 255); background-color: rgb(60, 118, 61); border-color: rgb(60, 118, 61); }
a.list-group-item-info.active, button.list-group-item-info.active, a.list-group-item-info.active:hover, button.list-group-item-info.active:hover, a.list-group-item-info.active:focus, button.list-group-item-info.active:focus { color: rgb(255, 255, 255); background-color: rgb(49, 112, 143); border-color: rgb(49, 112, 143); }
a.list-group-item-warning.active, button.list-group-item-warning.active, a.list-group-item-warning.active:hover, button.list-group-item-warning.active:hover, a.list-group-item-warning.active:focus, button.list-group-item-warning.active:focus { color: rgb(255, 255, 255); background-color: rgb(138, 109, 59); border-color: rgb(138, 109, 59); }
a.list-group-item-danger.active, button.list-group-item-danger.active, a.list-group-item-danger.active:hover, button.list-group-item-danger.active:hover, a.list-group-item-danger.active:focus, button.list-group-item-danger.active:focus { color: rgb(255, 255, 255); background-color: rgb(169, 68, 66); border-color: rgb(169, 68, 66); }
.tooltip.right { padding: 0px 5px; margin-left: 3px; }
.tooltip.left { padding: 0px 5px; margin-left: -3px; }
.tooltip.right .tooltip-arrow { top: 50%; left: 0px; margin-top: -5px; border-width: 5px 5px 5px 0px; border-right-color: rgb(0, 0, 0); }
.tooltip.left .tooltip-arrow { top: 50%; right: 0px; margin-top: -5px; border-width: 5px 0px 5px 5px; border-left-color: rgb(0, 0, 0); }
.popover.right { margin-left: 10px; }
.popover.left { margin-left: -10px; }
.popover.right > .arrow { top: 50%; left: -11px; margin-top: -11px; border-right-color: rgba(0, 0, 0, 0.25); border-left-width: 0px; }
.popover.right > .arrow::after { bottom: -10px; left: 1px; content: " "; border-right-color: rgb(255, 255, 255); border-left-width: 0px; }
.popover.left > .arrow { top: 50%; right: -11px; margin-top: -11px; border-right-width: 0px; border-left-color: rgba(0, 0, 0, 0.25); }
.popover.left > .arrow::after { right: 1px; bottom: -10px; content: " "; border-right-width: 0px; border-left-color: rgb(255, 255, 255); }
.carousel { position: relative; }
.carousel-inner { position: relative; width: 100%; overflow: hidden; }
.carousel-inner > .item { position: relative; display: none; transition: left 0.6s ease-in-out 0s; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img { line-height: 1; }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0px; }
.carousel-inner > .next, .carousel-inner > .prev { position: absolute; top: 0px; width: 100%; }
.carousel-inner > .next { left: 100%; }
.carousel-inner > .prev { left: -100%; }
.carousel-inner > .next.left, .carousel-inner > .prev.right { left: 0px; }
.carousel-inner > .active.left { left: -100%; }
.carousel-inner > .active.right { left: 100%; }
.carousel-control { position: absolute; top: 0px; bottom: 0px; left: 0px; width: 15%; font-size: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px; background-color: rgba(0, 0, 0, 0); opacity: 0.5; }
.carousel-control.left { background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%); background-repeat: repeat-x; }
.carousel-control.right { right: 0px; left: auto; background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); background-repeat: repeat-x; }
.carousel-control:hover, .carousel-control:focus { color: rgb(255, 255, 255); text-decoration: none; outline: 0px; opacity: 0.9; }
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right { position: absolute; top: 50%; z-index: 5; display: inline-block; margin-top: -10px; }
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left { left: 50%; margin-left: -10px; }
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right { right: 50%; margin-right: -10px; }
.carousel-control .icon-prev, .carousel-control .icon-next { width: 20px; height: 20px; font-family: serif; line-height: 1; }
.carousel-control .icon-prev::before { content: "‹"; }
.carousel-control .icon-next::before { content: "›"; }
.carousel-indicators { position: absolute; bottom: 25px; left: 50%; z-index: 15; width: 60%; padding-left: 0px; margin-left: -30%; text-align: center; list-style: none; }
.carousel-indicators li { display: inline-block; width: 10px; height: 10px; margin: 1px; text-indent: -999px; cursor: pointer; background-color: rgba(0, 0, 0, 0); border: 1px solid rgb(255, 255, 255); border-radius: 10px; }
.carousel-indicators .active { width: 12px; height: 12px; margin: 0px; background-color: rgb(255, 255, 255); }
.carousel-caption { position: absolute; right: 15%; bottom: 20px; left: 15%; z-index: 10; padding-top: 20px; padding-bottom: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px; }
.carousel-caption .btn { text-shadow: none; }
.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-header::before, .modal-header::after, .modal-footer::before, .modal-footer::after { display: table; content: " "; }
.clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-header::after, .modal-footer::after { clear: both; }
.pull-right { float: right !important; }
.hide { display: none !important; }
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; }
.fa.pull-right { margin-left: 0.3em; }
.fa-search::before { content: ""; }
.fa { width: 16px; font-size: 1em; text-align: center; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }
html { font-size: 100%; text-size-adjust: 100%; }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { max-width: 100%; height: auto; vertical-align: middle; border: 0px; }
button, input, select, textarea { margin: 0px; font-size: 100%; vertical-align: middle; }
button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] { cursor: pointer; }
input[type="search"] { box-sizing: content-box; -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
textarea { overflow: auto; vertical-align: top; }
p { margin: 0px 0px 10px; }
small { font-size: 85%; }
strong { font-weight: bold; }
em { font-style: italic; }
cite { font-style: normal; }
h1, h2, h3, h4, h5 { margin: 5px 0px; line-height: 35px; color: inherit; text-rendering: optimizelegibility; }
ul, ol { padding: 0px; margin: 0px; list-style: none; }
li { line-height: 20px; }
hr { margin: 20px 0px; border-width: 1px 0px; border-right-style: initial; border-left-style: initial; border-right-color: initial; border-left-color: initial; border-image: initial; border-top-style: solid; border-top-color: rgb(238, 238, 238); border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); }
code, pre { padding: 0px 3px 2px; color: rgb(68, 68, 68); border-radius: 3px; font-family: Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; }
code { padding: 2px 4px; color: rgb(221, 17, 68); background-color: rgb(251, 251, 251); border: 1px solid rgb(225, 225, 232); white-space: nowrap; font-size: 14px; }
pre { display: block; padding: 9.5px; margin: 0px 0px 10px; font-size: 11px; line-height: 20px; word-break: break-all; overflow-wrap: break-word; white-space: pre-wrap; background-color: rgb(245, 245, 245); border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 2px; }
pre code { padding: 0px; color: inherit; white-space: pre-wrap; background-color: transparent; border: 0px; }
[class*="span"].hide, .row-fluid [class*="span"].hide { display: none; }
[class*="span"].pull-right, .row-fluid [class*="span"].pull-right { float: right; }
body { margin: 0px auto; font-family: "微软雅黑"; font-size: 14px; line-height: 20px; color: rgb(85, 85, 85);  overflow-x: hidden; }
iframe { margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 100%; vertical-align: baseline; background: transparent; }
::selection { background: rgb(114, 208, 235); color: rgb(255, 255, 255); text-shadow: none; }
.header::before, .container::before, .footer::before, .header::after, .container::after, .footer::after { display: table; content: ""; line-height: 0; }
.header::after, .container::after, .footer::after { clear: both; }
.content article:first-of-type { border-radius: 4px 4px 0px 0px; }
.content article:last-of-type { border-radius: 0px 0px 4px 4px; }
.footer-inner { max-width: 1000px; padding: 16px 20px 14px; margin: 0px auto; color: rgb(255, 255, 255); }
.footer-inner::before, .footer-inner::after { display: table; content: ""; line-height: 0; }
.footer-inner::after { clear: both; }
.footer a { color: rgb(170, 170, 170); }
.footer a:hover { color: rgb(221, 221, 221); }
.pagesider-menu .sub-menu { display: none; }
.pagesider-menu li.active a, .pagesider-menu li.current_page_item a, .pagesider-menu li.current-menu-item a { color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); border-left-color: rgb(9, 168, 197); margin-right: -1px; position: relative; z-index: 2; }
.page-navbar .active a, .page-navbar .active a:hover, .page-navbar .active a:focus { color: rgb(102, 102, 102); background-color: rgb(247, 247, 247); }
.page-navbar li.current-menu-item a, .page-navbar li.current-menu-parent a, .page-navbar li.current_page_item a, .page-navbar li.current-post-ancestor a, .page-navbar li ul { background-color: rgb(247, 247, 247); border-left-color: rgb(9, 168, 197); color: rgb(102, 102, 102); }
fieldset { padding: 0px; margin: 0px; border: 0px; }
legend { display: block; width: 100%; padding: 0px; margin-bottom: 20px; font-size: 18px; line-height: 40px; color: rgb(68, 68, 68); border-width: 0px 0px 1px; border-top-style: initial; border-right-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-left-color: initial; border-image: initial; border-bottom-style: solid; border-bottom-color: rgb(229, 229, 229); }
legend small { font-size: 15px; color: rgb(153, 153, 153); }
label, input, button, select, textarea { font-weight: normal; line-height: 20px; }
label { display: block; margin-bottom: 5px; }
select, textarea, input { display: inline-block; height: 20px; padding: 5px 6px 3px; margin-bottom: 10px; line-height: 20px; color: rgb(85, 85, 85); border-radius: 0px; vertical-align: middle; }
textarea { height: auto; }
textarea, input { background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217) rgb(208, 208, 208); border-image: initial; transition: border 0.2s linear 0s; }
textarea:hover, input:hover, textarea:focus, input:focus { border-color: rgb(153, 153, 153); }
input[type="radio"], input[type="checkbox"] { margin: 4px 0px 0px; line-height: normal; }
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] { width: auto; }
select, input[type="file"] { height: 30px; line-height: 30px; }
.btn.active, .btn:active { outline: 0px; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { color: rgb(255, 255, 255); background-color: rgb(53, 210, 171); }
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] { color: rgb(255, 255, 255); background-color: rgb(248, 138, 42); }
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] { color: rgb(255, 255, 255); background-color: rgb(229, 20, 0); }
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] { color: rgb(255, 255, 255); background-color: rgb(17, 127, 105); }
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] { color: rgb(255, 255, 255); background-color: rgb(0, 120, 119); }
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { color: rgb(255, 255, 255); background-color: rgb(102, 102, 102); opacity: 1; }
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active { z-index: 2; }
.nav > .pull-right { float: right; }
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus { color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px; background-color: rgb(9, 168, 197); }
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus { color: rgb(85, 85, 85); background-color: rgb(238, 238, 238); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent; border-image: initial; cursor: default; }
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus { color: rgb(255, 255, 255); background-color: rgb(9, 168, 197); }
.nav .active .dropdown-toggle .caret { border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); }
.nav-tabs .active .dropdown-toggle .caret { border-top-color: rgb(85, 85, 85); border-bottom-color: rgb(85, 85, 85); }
.nav > .dropdown.active > a:hover, .nav > .dropdown.active > a:focus { cursor: pointer; }
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus { color: rgb(255, 255, 255); background-color: rgb(153, 153, 153); border-color: rgb(153, 153, 153); }
.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret { border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); opacity: 1; }
.tab-content > .active, .pill-content > .active { display: block; }
.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover, .tabs-below > .nav-tabs > .active > a:focus { border-color: transparent rgb(221, 221, 221) rgb(221, 221, 221); }
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus { border-color: rgb(221, 221, 221) transparent rgb(221, 221, 221) rgb(221, 221, 221); }
.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover, .tabs-right > .nav-tabs .active > a:focus { border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) transparent; }
.navbar .nav.pull-right { float: right; margin-right: 0px; }
.navbar .nav .active a, .navbar .nav .active a:hover, .navbar .nav .active a:focus { color: rgb(255, 255, 255); background-color: rgb(3, 73, 86); }
.navbar .nav li.current-menu-item a, .navbar .nav li.current-menu-parent a, .navbar .nav li.current_page_item a, .navbar .nav li.current-post-ancestor a { color: rgb(255, 255, 255); position: relative; z-index: 2; }
.navbar .nav > li > ul > li > a:hover, .navbar .nav li li.current-menu-item a { color: rgb(255, 255, 255); }
.navbar .nav li li a:hover, .navbar .nav li li.current-menu-item a { background-color: rgb(87, 102, 99); }
.navbar .nav li:hover a, .navbar .nav li.current-menu-item a, .navbar .nav li.current-menu-parent a, .navbar .nav li.current_page_item a, .navbar .nav li.current-post-ancestor a { background-color: rgb(3, 73, 86); }
.sub-menu { min-width: 130px; left: 0px; max-height: 0px; position: absolute; top: 100%; z-index: 0; perspective: 400px; }
.nav > li:hover .sub-menu, .nav > li:focus .sub-menu { max-height: 1000px; z-index: 10; }
.nav > li:hover .sub-menu li, .nav > li:focus .sub-menu li { opacity: 1; transform: none; }
.nav li:hover .sub-menu li:nth-child(1) { }
.nav li:hover .sub-menu li:nth-child(2) { transition-delay: 50ms; }
.nav li:hover .sub-menu li:nth-child(3) { transition-delay: 100ms; }
.nav li:hover .sub-menu li:nth-child(4) { transition-delay: 150ms; }
.nav li:hover .sub-menu li:nth-child(5) { transition-delay: 200ms; }
.nav li:hover .sub-menu li:nth-child(6) { transition-delay: 250ms; }
.nav li:hover .sub-menu li:nth-child(7) { transition-delay: 300ms; }
.nav li:hover .sub-menu li:nth-child(8) { transition-delay: 350ms; }
.sub-menu li:nth-child(1) { transition-delay: 350ms; }
.sub-menu li:nth-child(2) { transition-delay: 300ms; }
.sub-menu li:nth-child(3) { transition-delay: 250ms; }
.sub-menu li:nth-child(4) { transition-delay: 200ms; }
.sub-menu li:nth-child(5) { transition-delay: 150ms; }
.sub-menu li:nth-child(6) { transition-delay: 100ms; }
.sub-menu li:nth-child(7) { transition-delay: 50ms; }
.sub-menu li:nth-child(8) { }
.toggle-search:hover, .toggle-search.active { opacity: 0.75; }
.breadcrumb > .active { color: rgb(153, 153, 153); }
.pagination ul > .active > a, .pagination ul > .active > span { background-color: rgb(0, 99, 164); color: rgb(255, 255, 255); }
.pagination ul > .active > a, .pagination ul > .active > span { cursor: default; }
.tooltip.right { margin-left: 3px; padding: 0px 5px; }
.tooltip.left { margin-left: -3px; padding: 0px 5px; }
.tooltip.right .tooltip-arrow { top: 50%; left: 0px; margin-top: -5px; border-width: 5px 5px 5px 0px; border-right-color: rgb(39, 147, 123); opacity: 0.9; }
.tooltip.left .tooltip-arrow { top: 50%; right: 0px; margin-top: -5px; border-width: 5px 0px 5px 5px; border-left-color: rgb(39, 147, 123); opacity: 0.9; }
.popover.right { margin-left: 10px; }
.popover.left { margin-left: -10px; }
.popover.right .arrow { top: 50%; left: -11px; margin-top: -11px; border-left-width: 0px; border-right-color: rgba(0, 0, 0, 0.25); }
.popover.right .arrow::after { left: 1px; bottom: -10px; border-left-width: 0px; border-right-color: rgb(255, 255, 255); }
.popover.left .arrow { top: 50%; right: -11px; margin-top: -11px; border-right-width: 0px; border-left-color: rgba(0, 0, 0, 0.25); }
.popover.left .arrow::after { right: 1px; border-right-width: 0px; border-left-color: rgb(255, 255, 255); bottom: -10px; }
.pull-right { float: right; }
.hide { display: none; }
.archives .item { overflow: hidden; margin-bottom: 20px; border-bottom: 1px solid rgb(238, 238, 238); }
.footer { text-align: center; background: #2985e0; border-top-width: 3px; border-top-style: solid; position: relative; color: rgb(155, 177, 198); }
.side { margin-bottom: 15px; }
.content-ajax .tip h4, .daodu .tip h4 { color: rgb(122, 111, 111); font-weight: 400; margin-left: 10px; font-size: 22px; line-height: 1; }
.content-ajax .tip .count { position: absolute; right: 0px; bottom: 0px; padding: 0px 10px; height: 100%; background: none 0px 0px repeat scroll rgb(242, 242, 242); color: rgb(51, 51, 51); font-size: 18px; }
.clear { clear: both; }
#masthead { background-color: rgb(238, 248, 255); border-bottom: 1px solid rgba(0, 0, 0, 0.08); border-top-color: rgba(0, 0, 0, 0.08); border-right-color: rgba(0, 0, 0, 0.08); border-left-color: rgba(0, 0, 0, 0.08); box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 3px; left: 0px; right: 0px; top: 0px; z-index: 9; }
#top-header { background: rgb(246, 246, 246); }
.top-nav { height: 26px; margin: 0px auto; min-width: 940px; max-width: 1000px; }
#daohang { position: absolute; min-height: 40px; width: 520px; background: rgb(0, 99, 164); }
.hide { display: none; }
.flink { color: rgb(0, 0, 0); padding: 10px 5px 5px; }
.top-menu { float: right; margin: 0px 8px 0px 0px; }
.fr_link a { color: rgb(157, 205, 239); width: 100px; height: 22px; overflow: hidden; line-height: 22px; font-size: 12px; text-align: center; float: left; padding: 0px 3px; }
.top-menu li { float: left; padding: 0px 5px; line-height: 26px; }
.top-menu a { color: rgb(0, 0, 0); }
#adminurl { background: rgb(47, 136, 154); padding: 4px; border-radius: 4px; color: rgb(255, 255, 255); }
#adminurl:hover { color: rgb(0, 0, 0); }
.top-menu a:hover { color: rgb(47, 136, 154); }
.menu-container { line-height: 26px; }
#user-profile { float: left; position: relative; line-height: 26px; }
#user-profile { color: rgb(153, 153, 153); }
#user-profile a:hover { color: rgb(255, 255, 255); }
#nav-header { background: url("/static/images/banner copy.jpg") center center no-repeat; height: 250px; width: 100%; z-index: 999; }
.nav-search { background: none 0px 0px repeat scroll rgb(47, 136, 154); border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px; color: rgb(255, 255, 255); cursor: pointer; float: right; line-height: 25px; margin: 10px 10px 0px; padding: 0px 8px 1px; }
.nav-search:hover { background: none 0px 0px repeat scroll rgb(89, 89, 89); }
#site-nav-wrap { width: 100%; max-width: 980px; margin: auto; min-height: 45px; }
.main-nav { font-size: 18px; }
.nav-menu { float: left; }
.nav-menu li { position: relative; transition: background 0.2s ease 0s; white-space: nowrap; }
.nav-menu li.sfHover, .nav-menu li:hover, .sub-menu { transition: none 0s ease 0s; }
.nav-menu .sf-mega { display: none; left: 0px; position: absolute; top: 100%; z-index: 99; }
.nav-menu li.sfHover > .sf-mega, .nav-menu li:hover > .sf-mega { display: block; }
#site-nav .down-menu li { display: block; float: left; height: 45px; line-height: 45px; }
#site-nav .down-menu a { color: rgb(0, 99, 164); padding: 0px 13px; text-align: left; transition-duration: 1.2s; }
#site-nav .down-menu > li.sfHover > a, #site-nav .down-menu > li > a:hover { color: rgb(255, 255, 255); background:#2985e0; }
#site-nav .down-menu > .current-menu-item > a, #site-nav .down-menu > .current-menu-item > a:hover { color: rgb(255, 255, 255); background: #2985e0; }
#site-nav .down-menu ul { box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 2px; padding-top: 20px; }
.nav-menu li:hover > .sub-menu { display: block; }
.nav-menu li { background-position: right center; }
.nav-menu li:hover { background-position: right center; }
.nav-menu ul { border-bottom: 1px solid rgb(221, 221, 221); display: none; left: 0px; min-width: 160px; position: absolute; top: 100%; z-index: 10001; }
.nav-menu > li { float: left; }
#site-nav .down-menu ul li { background: none 0px 0px repeat scroll rgba(255, 255, 255, 0.9); border-left: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); border-top: 1px solid rgb(221, 221, 221); display: block; float: none; height: auto; line-height: 1.4em; }
#site-nav .down-menu ul li:last-child { background: none 0px 0px repeat scroll rgba(255, 255, 255, 0.9); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221); display: block; float: none; height: auto; line-height: 1.4em; }
#site-nav .down-menu ul a { border: 0px none; display: block; font-size: 0.9em; height: auto; line-height: 1.7em; margin: 0px; padding: 10px 20px; text-transform: none; }
#site-nav .down-menu ul li > a:hover { background: none 0px 0px repeat scroll rgb(221, 221, 221); color: rgb(0, 0, 0); }
#mobile-search, #navigation-toggle, #sidr-close, .sidr { display: none; }
#search-main { background: none 0px 0px repeat scroll rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px; display: none; margin: 10px auto 5px; padding: 10px 20px 20px; text-align: center; min-width: 940px; max-width: 1000px; }
#searchbar { margin: 10px auto 0px; width: 90%; }
#searchform input { background: none 0px 0px repeat scroll rgb(235, 235, 235); border-radius: 2px 0px 0px 2px; float: left; font: 14px "Microsoft YaHei", Helvetica; height: 37px; padding: 0px 9px; width: 75%; border: 0px solid rgb(235, 235, 235) !important; }
#searchform input:focus { background: none 0px 0px repeat scroll rgb(255, 255, 255); outline: none 0px; }
#searchform button { background: none 0px 0px repeat scroll rgb(47, 136, 154); border-radius: 0px 2px 2px 0px; color: rgb(255, 255, 255); cursor: pointer; height: 37px; overflow: visible; position: relative; text-transform: uppercase; width: 23%; box-sizing: inherit; border: 0px solid rgb(235, 235, 235) !important; padding: 0px !important; }
#searchform button:hover { background: none 0px 0px repeat scroll rgb(89, 89, 89); }
.nav_sj .sub-menu { position: relative; }
#nav-header.shadow { background: none 0px 0px repeat scroll rgba(255, 255, 255, 0.9); height: 65px; position: fixed; top: 0px; transition-duration: 1s; }
.carousel-caption { bottom: 0px; padding: 0px; width: 100%; left: 0px; right: 0px; background: #2985e0; }
.carousel-caption p { margin: 0px; font-size: 16px; width: 100%; height: 26px; overflow: hidden; display: block; line-height: 26px; }
.notice { height: 300px; margin-bottom: 15px; width: 100%; font-size: 16px; line-height: 20px; background: rgb(255, 255, 255); }
.notice h4 { background: #2985e0; color: rgb(238, 248, 255); line-height: 40px; font-size: 18px; text-align: center; margin: 0px; }
.notice p { display: block; padding: 10px; width: 100%; height: 260px; overflow: scroll; }
.category { display: block; min-height: 300px; border: 1px solid rgb(234, 234, 234); border-radius: 4px; margin-bottom: 15px; background: rgb(255, 255, 255); }
.tip div{color: rgb(238,248,255); background:#2985e0;display:inline-block;padding:0 5%;}
.category ul { margin: 10px 2% 10px 3%; line-height: 40px; }
.category h4 { background:  #f5f5f5; line-height: 40px; font-size: 18px;  margin: 0px; }
.category li { font-size: 16px; }
.category span { color: rgb(170, 170, 170); font-size: 14px; }
.list-view {overflow: scroll;}
.list-view a { color: rgb(0, 0, 0); text-decoration: none; }
.list-view p { width: 80%; height: 20px; display: inline-block; overflow: hidden; margin: 0px; }
.list-view a:visited { color: rgb(170, 170, 170); }
.list-view a:hover { color: rgb(0, 99, 164); text-decoration: none; }
.tip a { color: #2985e0; }
.content > div { padding-left: 7px; padding-right: 7px; }
.content { width: 940px; margin: auto; padding-top: 20px;}
.sideAd {position:fixed;left:5px;top:350px;width:200px;z-index:9999;}
.sideAdClose { width: 100px; height: 24px; text-align: center; color: black; line-height: 24px; font-size: 13px; display: block; cursor: pointer; }
.picWrap { height: 290px; display: block; border: 1px solid rgb(234, 234, 234); border-radius: 4px; margin-bottom: 15px; background: rgb(255, 255, 255); }
.picWrap h4 { margin: 0px; background: #2985e0; color: rgb(238, 248, 255); line-height: 40px; font-size: 18px; padding-left: 3%; }
.picView { display: block; width: 100%; height: 250px; white-space: nowrap; overflow: hidden; }
.picView a { margin-right: 1px; overflow: hidden; height: 260px; color: rgb(255, 255, 255); width: 323px; text-decoration: none; display: inline-block !important; }
.picView img { width: 100%; height: 210px; }
.picView a div { padding: 10px; background: #2985e0; opacity: 0.9; word-break: break-all !important; overflow-wrap: break-word !important; white-space: pre-wrap !important; text-align: center !important; }
.current-menu-item { background-color: #2985e0; color: rgb(255, 255, 255); }
.current-menu-item a:hover { color: rgb(255, 255, 255); }
.current-menu-item a:visited { color: rgb(255, 255, 255); }
.sideAd img { width: 300px; }
:host * { font-family: Poppins, sans-serif; }

@font-face {
    font-family: 'FontAwesome';
    src: url(fonts/fontawesome-webfont.eot?v=4.1.0);
    src: url(fonts/fontawesome-webfont.eot?#iefix&v=4.1.0) format('embedded-opentype'), url(fonts/fontawesome-webfont.woff?v=4.1.0) format('woff'), url(fonts/fontawesome-webfont.ttf?v=4.1.0) format('truetype'), url(fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular)format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.fa-search:before {
    content: "\f002"
}
.fa-eye:before {
    content: "\f06e"
}
/* 值班模块 */
.duty {
    height: 300px;
    margin-bottom: 15px;
    text-align: center;
    width:100%;
    font-size: 16px;
    line-height: 20px;
    background: #fff;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 4px;
}
.duty table{
    text-align: center;
    width:100%
}
/* .duty td{
    border: 2px groove #0063a4;
} */
.duty td {
    display: inline-block;
    margin-top:10px;
    width:50%;

}

.duty h4{
    background: #2985e0;
    color: #eef8ff;
    margin: 0px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
}
.dutyhead> tr>td {
    margin: 0;
    width: 100%;
}
.dutyblod{
    font-weight:bold;
    /* color:#0063a4; */
}
.duty p{
    line-height: 40px;
    font-size: 18px;
    text-align: center;
}
.duty span{
    width:25%;
    margin: auto;

}
/* 分类页面 */
.category_list {
    display: block;
    margin: auto;
    margin-top:30px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin-bottom: 15px;
    background: #FFF;
}

.category_list h1{
    background: #2985e0;
    padding: 5px 20px 5px 50px;
    margin:0px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color:#eef8ff;
}
.category_adds {
    width:15%;
    float: right;
}
.category_list h2 {
    display: inline-block;
    font-size: 16px;
    /* padding:10px 20px 0px 50px; */
    margin: 0;
    /* width:80%; */
    overflow: hidden;
    font-weight: normal;
    line-height: 20px;
}

.category_bar {
    margin-top:30px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin-bottom: 15px;
    background: #FFF;
}
.category_bar h1{

}

.excerpt {
    padding: 10px 20px 0px 50px;
    border-bottom: 1px dashed #dcdcdc;
}

.pagination {
    padding: 20px 0 15px 0;
    text-align: center;
    display:block;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0
}

.pagination ul>li {
    display: inline
}

.pagination ul>li>a, .pagination ul>li>span {
    margin: 0 3px;
    float: left;
    padding: 4px 12px 3px;
    opacity: 0.88;
    border-radius: 2px;
    line-height: 20px;
    text-decoration: none;
    color: #666
}

.pagination ul>.active>a, .pagination ul>.active>span {
    background-color: #2985e0;
    color: #fff
}

.pagination ul>.active>a, .pagination ul>.active>span {
    cursor: default
}

.pagination ul>li>span, .pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
    color: #999;
    background-color: transparent;
    cursor: default
}
